
###> symfony/framework-bundle ###
.env.local
.env.*.local
public/bundles/
var/
vendor/
###< symfony/framework-bundle ###

# IDEs & editors
.idea
*.swp
*.swo
*~

# python
venv
index.html
.python-version
