* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 3em;
}

.header-bar {
    height: 10%;
    min-height: 120px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

header {
    background-color: rgb(164, 238, 164);
    text-align: center;
}

body {
    background-color:whitesmoke;
}

.categorie-container {
    width: 60%;
    margin: 5% 20% 5% 20%;
}

.question-header-container {
    width: 100%;
    display:flex;
}

.categorie-header-container {
    width: 100%;
    display: flex;
    min-height: 70px;
    margin-top: 20px;
}

.categorie-bubble {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    border: solid white;
    background: #0C5884 url(img/infrastructures-informatiques.png) no-repeat 50% 50%;
    background-size: 30px;
}

.question-header-container {
    width: 100%;
    display:flex;
    min-height: 30px;
}

.left-container {
    width: 10%;
    min-width: 65px;
    position: relative;
}

.left-bar {
    height: 100%;
    width: 5px;
    background-color: #0C5884;
    display: flex;
    margin: auto;
    z-index: 1;
}

.categorie-title-container {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.question-title-container {
    width: 90%;
    display: flex;
    align-content: center;
}

.question-bubble {
    height: 25px;
    width: 25px;
    background-color: #0C5884;
    border-radius: 50%;
    display: flex;
    margin: auto;
    border: solid white;
    z-index: 1;
}

.answer-container {
    width: 100%;
    display: flex;
}

.sup-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

/** 
    -----------------
        color 
    -----------------
**/

.color-infrastructures-informatiques {
    color: #0C5884;
}

.color-datacenter {
    color: #2C86C1;
}

.color-printing {
    color: #EEC22D;
}

.color-energy-consumption {
    color: #EF5746;
}

.color-achats {
    color: #00BCD2;
}

.color-management {
    color: #8D60A9;
}

.color-poste-de-travail {
    color: #E6822D;
}

.color-applications {
    color: #E75894; 
}

/** 
    -----------------
        background-color 
    -----------------
**/

.bcolor-infrastructures-informatiques {
    background-color: #0C5884;
}

.bcolor-datacenter {
    background-color: #2C86C1;
}

.bcolor-printing {
    background-color: #EEC22D;
}

.bcolor-energy-consumption {
    background-color: #EF5746;
}

.bcolor-achats {
    background-color: #00BCD2;
}

.bcolor-management {
    background-color: #8D60A9;
}

.bcolor-poste-de-travail {
    background-color: #E6822D;
}

.bcolor-applications {
    background-color: #E75894; 
}