<div class='categorie-header-container'>
    <div class='left-container'>
        <div class='sup-container'>
            <span class='left-bar'></span>
        </div>
        <div class='sup-container'>
            <span class='categorie-bubble'></span>
        </div>
    </div>
    <div class='categorie-title-container'>
        <h2>
            {{ category }}
        </h2>
    </div>
</div>