<form name="questionnaire">
  {% for category, questions in data.items() %}
  <h2>{{ category }}</h2>
  <div class="category color-{{category|lower|replace(' ', '-')}}">
    {% for q in questions %}
    <h3>{{ q['label'] }}</h3>
    {% if q['comments'] != '' %}
    <q>{{q['comments']}}</q>
    {% endif %}
    {% if q['type'] == 'Q' %}
    <div class="question {{q['id']}}">
      {% for txt in q['texts'] %}
      <div>
        <label for={{txt['id']}}>{{txt['label']}}</label>
        <input type="text" id="{{txt['id']}}" name="{{q['id']}}">
      </div>
      {% endfor %}
      {% for answer in q['answers'] %}
      <div>
        <input type="{{q['input_type']}}" id={{answer['id']}} name="{{q['id']}}" value="{{answer['val']}}">
        <label for={{answer['id']}}>{{answer['label']}}</label>
      </div>
      {% endfor %}
      {% if q['text_input'] %}
      <div>
        <input type="text" id="text:{{q['id']}}" name="{{q['id']}}">
      </div>
      {% endif %}
    </div>
    {% else %}
    <table>
      <thead>
        <tr>
          <th></th>
          {% for choice in q['choices'] %}
          <th>{{choice['label']}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for qq in q['questions'] %}
        <tr>
          <td>{{qq['label']}}<td>
              {% for choice in q['choices'] %}
              <td>
                <input type={{q['input_type']}} id="{{choice['id']}}" name="{{qq['id']}}" value="{{choice['val']}}">
              </td>
              {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
</form>
